#!/bin/bash
#
# This is an example configuration file, used by the *.sh scripts
# Copy this to config.sh, and adapt

# Configure Chef server
DOMAIN="example.com"
ORGANIZATION="myorganization"
CHEF_SERVER="https://chef.$DOMAIN/organizations/$ORGANIZATION"
SSL_VERIFY_MODE="verify_peer"

# Configure apt-proxy (for caching, etc)
APT_PROXY=""

# Get URL and SHA1 of chef-client package from https://downloads.chef.io/chef-client/
CHEF_VERSION="12.13.37-1"
CHEF_CLIENT_PACKAGE="https://packages.chef.io/stable/ubuntu/12.04/chef_${CHEF_VERSION}_amd64.deb"
CHEF_CLIENT_SHA1="72a0a10ba5684d1e51590c1bc022bcb2e99348c6"

# Additional packages to install using apt
APT_PACKAGES=""
