#!/bin/bash
#
# This is an example configuration file, used by the *.sh scripts
# Copy this to config.sh, and adapt

# Configure Chef server
DOMAIN="example.com"
ORGANIZATION="myorganization"
CHEF_SERVER="https://chef.$DOMAIN/organizations/$ORGANIZATION"
SSL_VERIFY_MODE="verify_peer"

# Get URL and SHA1 of chef-client package from https://downloads.chef.io/chef-client/
CHEF_VERSION="12.9.38-1"
CHEF_CLIENT_PACKAGE="https://packages.chef.io/stable/ubuntu/10.04/chef_${CHEF_VERSION}_amd64.deb"
CHEF_CLIENT_SHA1="99f26627718a3ea4464ab48f534fb24e3e3e4719"
